POSTGRES_USER=your_cdc_postgres_user
POSTGRES_PASSWORD=your_cdc_postgres_password
POSTGRES_DB=inventory_source
TARGET_POSTGRES_USER=your_target_postgres_user
TARGET_POSTGRES_PASSWORD=your_target_postgres_password
TARGET_POSTGRES_DB=inventory_target